files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            # Pinpoint Conifg
            AGENT_ID=`hostname`
            APP_NAME=dwlee-eb-tunning-test
            JAR_PATH=/var/app/current/application.jar
            PINPOINT_OPTS="-javaagent:/etc/pinpoint/pinpoint-bootstrap-1.6.2.jar -Dpinpoint.agentId=$AGENT_ID -Dpinpoint.applicationName=$APP_NAME"

            # Datasource Conifg
            RDS_HOST=
            JDBC_URL=jdbc:mariadb:aurora://${RDS_HOST}.ap-northeast-2.rds.amazonaws.com:3306/dwlee
            USERNAME=
            PASSWORD=
            DATASOURCE_OPTS="--spring.datasource.hikari.jdbc-url=${JDBC_URL} --spring.datasource.hikari.username=${USERNAME} --spring.datasource.hikari.password=${PASSWORD}"

            # run app
            killall java
            java $PINPOINT_OPTS -Dfile.encoding=UTF-8 -jar $JAR_PATH $DATASOURCE_OPTS

container_commands:
  001-command:
      command: sed -i "s/RDS_HOST=/RDS_HOST=${SPRING_DATASOURCE_HIKARI_RDS_HOST}/g" /sbin/appstart
  002-command:
      command: sed -i "s/USERNAME=/USERNAME=${SPRING_DATASOURCE_HIKARI_USERNAME}/g" /sbin/appstart
  003-command:
      command: sed -i "s/PASSWORD=/PASSWORD=${SPRING_DATASOURCE_HIKARI_PASSWORD}/g" /sbin/appstart